<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Remix - Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="../login/style.css">
  <link rel="icon" href="../assets/icon.png" alt="Remix icon">
</head>
<body>
  <%- include("components/navbar"); -%>
  <section class="main">
    <div>
      <section>
        <h1>Login</h1>
        <div style="display: <%= (locals.id) ? "none" : "block" %>">
          <input type="text" placeholder="Revold user ID"></input>
          <label>
            <input type="checkbox">
            <span style="margin-left: 145px;">Stay signed in.</span>
          </label>
          <button onclick="start(this)" type="button" class="text-white bg-pink-700 hover:bg-pink-800 focus:outline-none focus:ring-4 focus:ring-pink-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-pink-600 dark:hover:bg-pink-700 dark:focus:ring-pink-800">Submit</button>
        </div>
        <div id="success" style="display: <%= (locals.id) ? "block" : "none" %>">
          <p>
            Login process started! In a server that has Remix, run
            <span class="tooltip-container">
              <span class="tooltip">Click to copy</span>
              <code id="command"><%= (locals.id) ? prefix + "login " + id + ";" + token : "" %></code>
            </span>! (You may need to edit the prefix depending on the server)
          </p>
          <p>
            Do <b>NOT</b> close this browser window, as this login is only valid in the current browser session.<br />
            If you chose to stay logged in, there will be a login cookie created as soon as you verify the login through
            the button below.
          </p>
          <button onclick="check(this)" type="button" class="text-white bg-pink-700 hover:bg-pink-800 focus:outline-none focus:ring-4 focus:ring-pink-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-pink-600 dark:hover:bg-pink-700 dark:focus:ring-pink-800">Check for verification</button>
        </div>
      </section>
    </div>
  </section>
  <%- include("components/footer"); -%>
  <script>
    const tooltip = document.querySelector(".tooltip");
    tooltip.parentElement.addEventListener("mouseleave", () => {
      tooltip.innerText = "Click to copy"
    });
    document.getElementById("command").addEventListener("click", (e) => {
      navigator.clipboard.writeText(e.target.innerText).then(() => {
        tooltip.innerText = "Copied!";
      });
    });
    var ksi = false;
    function check(btn) {
      btn.disabled = true;
      fetch("/api/login/verify", {
        method: "POST",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ ksi })
      }).then(res => res.json()).then(res => {
        if (res) {
          window.location.href = "/dashboard";
        } else {
          btn.disabled = false;
        }
      });
    }
    function start(btn) {
      const input = btn.parentElement.children[0];
      const container = btn.parentElement;
      const uid = input.value;
      ksi = btn.parentElement.children[1].querySelector("input[type='checkbox']");
      btn.disabled = true;

      fetch("/api/login", {
        method: "POST",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ userId: uid })
      }).then(async res => {
        btn.disabled = false;
        const r = await res.json();
        container.style.display = "none";
        document.getElementById("command").innerText = "<%= prefix %>login " + r.id + ";" + r.token;
        document.getElementById("success").style.display = "block";
      }).catch(e => {
        console.error(e);
        btn.disabled = false;
      });
    }
  </script>
</body>
</html>
